
body {
    background-image: url("/src/assets/bg_image1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.center {
    display: flex;
    justify-content: center;
    gap: 100px;
}


img {
    display: flex;
    justify-content: center;
    border-radius: 50%;
    height: 300px;
    width: 300px;
}

.main-btns {
    font-family: italic !important;
    font-size: 30px !important;
    position: relative;
    top: 200px;
    padding: 5px 10px;
    border-radius: 10px!important ;
    background-image: linear-gradient(to left, #19c3bd, #208da8, #4a79d1);
    cursor: pointer;
}

.text-landing{
    position: absolute;
    top: 150px;
    font-size: 150px;
    
    font-style: italic;
    font-weight: 600;
}

.for-heading{
    display: flex;
    justify-content: center;
}