.for-box-signup{
    margin-top: -25px;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    width: fit-content;
    gap: 20px;
    padding: 20px 20px;
    padding-bottom: 10px;
}

.for-flex-signup{
    display: flex;
    justify-content: center;
    background-image: url("/src/assets/bg_image1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.text-field-signup{
    display: flex;
    gap: 10px;
}

.div-label{
    background-color: transparent;
}

.signup-btn{
    background-image: linear-gradient(to left, #19c3bd, #208da8, #4a79d1) !important;
    border: 2px solid black !important;
    font-family:'Times New Roman', Times, serif !important;
    font-weight: 400 !important;
}


.login-btn-signup{
    background-image: linear-gradient(to left, #19c3bd, #208da8, #4a79d1) !important;
    border: 2px solid black !important;
    width: 300px;
    position: relative;
    left: 65px;
    font-family:'Times New Roman', Times, serif !important;
    font-weight: 400 !important;
    
}

.hr-signup{
    margin-top: 5px;
    margin-bottom: 5px;
    border-bottom:2px solid black ;
    margin-top: -10px;
    margin-bottom: -10px;
}

.image-center-signup{
    display:flex;
    justify-content: center;
}


.image-signup{
    margin-top: -40px;
    height: 300px;
    width: 300px;
}